@import "style.css";
@import "form.css";

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color:#2f2f2f;
    margin:0;
}

.container{
    max-width: 1200px;
    padding:0 16px;
    margin:0 auto;
}

h1, h2, h3, h4 ,h5, h6 {
    margin:0;
    padding:0;
}

.bg-color {
    background-color:#3ea592;
    color:#fff;
}

.font-color {
    color:#3ea592;
}

h2 {
    font-size:42pt;
    font-weight:700;
}

h3 {
    font-size:32px;
    color:#e6e6e6;
    font-weight:300;
}

h3::after {
    content:"";
    display:block;
    margin-top:30px;
    width:100px;
    height:1px;
    background:gray;
}