@import "style.css";
@import "form.css";

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin:0;
}

.container{
    max-width: 1200px;
    padding:0;
    margin:0 auto;
}

.header-wrapper {
    text-align:center;
    width:100%;
    margin:50px 0;
}

h1, h2, h3, h4 ,h5, h6 {
    margin:0;
    padding:0;
}

.bg-color {
    background-color:#3ea592;
    color:#fff;
}

.font-color {
    color:#3ea592;
}

h2 {
    font-size:34pt;
    font-weight:700;
}

h3 {
    font-size:26px;
    color:#e6e6e6;
    font-weight:300;
    padding-top:20px;
}

h3::after {
    content:"";
    display:block;
    margin:30px auto;
    width:180px;
    height:1px;
    background:gray;
}

.cta, .cta-wh {
    font-size:16px;
    font-weight:500;
    padding:10px 80px;
    transition: all .5s;
}

.cta:hover {
    background-color: #fff;
    color:#3ea592;
    border:2px solid #3ea592;
}

.cta {
    background-color: #3ea592;
    color:#fff;
    border:2px solid #3ea592;
}

.cta-wh {
    background-color: #fff;
    color:#3ea592;
    border:2px solid #fff;
}

.cta-wh:hover {
    background-color: none;
    color:#fff;
    border:2px solid #fff;
}

