section.top{
    background-image: url('../images/background_image.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    position: relative;
}
section.top::after{
    content: "";
    display: block;
    background-color:#000;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0;
    opacity: 0.5;
    z-index: 1;
}

section.top .container{
    padding: 0 16px;
}
section.top .container .top-wrapper{
    display: flex;
    height:80vh;
    flex-direction: row;
    justify-content: left;
    align-items:flex-end;   
}

section.top .container .top-wrapper .text{
    color: #fff;
    right:0;
    bottom: 0px;
    z-index: 10;
     
}

section.top .container .top-wrapper .text h1{
    font-size: 100pt;
    font-weight: 600;
    padding-bottom: -24px;
}

section.top .container .top-wrapper .text h1::after{
    content:".";
    display:inline;
    animation: dot 2s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

section.top .container .top-wrapper .text p:nth-of-type(1){
    font-size: 51pt;
    font-weight: 400;
}

section.top .container .top-wrapper .text p:nth-of-type(2){
    font-size: 18pt;
    font-weight: 300;
    position: relative;
    margin-top: 24px;
    line-height:32px;
}

section.top .container .top-wrapper .text a{
    padding-top: 32px;
    position: relative;
    line-height: 128px;
    text-decoration: none;
    color:#fff;
}

section.top .container .top-wrapper .text a::before{
    content: "";
    background-color:#fff;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 4px ;
}

@media screen and (max-width:768px){
    section.top .container .top-wrapper .text h1{
        font-size: 64pt;
    }
    section.top .container .top-wrapper .text p:nth-of-type(1){
        font-size: 24pt;
    }
    section.top .container .top-wrapper .text p:nth-of-type(2){
        font-size: 14pt;
    }
    section.top::after{
        opacity: 0.8;
    }

}
@media screen and (max-width:460px){
    section.top .container .top-wrapper .text{
        justify-content: center;
        text-align: center;
    }
}
section.features{
    margin:72px 0;
}

section.features .container .header-wrapper h4{
    color:gray;
    font-weight: 300;
    font-size: 13pt;
    line-height: 23pt;
}
section.features .container{
    padding: 0 16px;
}
section.features .container .features-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

section.features .container .features-wrapper .feature-item{
    width:30%;
    text-align: center;
    margin:24px 0;
}
section.features .container .features-wrapper .feature-item img.icon{
    width:30%;
    height:auto;
    transition: all 0.4s ease-in;
}
section.features .container .features-wrapper .feature-item img.icon:hover{

    transform: rotate(20deg);
}

section.features .container .features-wrapper .feature-item p:nth-of-type(1){
    font-size:18pt;
    font-weight: 400;
    color:#000;
    padding: 16px 0;
}

section.features .container .features-wrapper .feature-item p:nth-of-type(2){
    font-size:13pt;
    font-weight: 300;
    color:grey;
    line-height: 24pt;;

}
@media screen and (max-width:768px){
    section.features .container .features-wrapper{
        flex-direction: column;
    }

    section.features .container .features-wrapper .feature-item{
        width:100%;
    }
}

section.news .news-wrapper {
    background-color:#f3f3f3;
    margin-top:80px;
    padding-bottom:60px;
}

section.news .news-wrapper:before {
    content: "";
    background-color:#f3f3f3;
    width:100px;
    height:100px;
    transform: rotate(45deg);
    display:block;
    position:relative;
    top:-20px;
    margin:0 auto;
}

section.news .news-wrapper .container .news-pills {
    position:relative;
    display:flex;
    justify-content: space-between;
    margin-top:-30px;
}

section.news .news-wrapper .container .news-pills .news-item {
    position:relative;

}

section.news .news-wrapper .container .news-pills .news-item::after {
    content: "";
    position: absolute;
    width:100%;
    height:2px;
    bottom:0;
    background-color:#39A38F ;
}

section.news .news-wrapper .container .news-pills .news-item div {
    transition: all 0.4s ease-in;
}
section.news .news-wrapper .container .news-pills .news-item div:hover {
    background-color:#39A38F ;
    opacity:0.8;
}

section.news .news-wrapper .container .news-pills div.arrow1, div.arrow2 {
    top:40%;
    position:absolute;
    z-index:10;
}

section.news .news-wrapper .container .news-pills div.arrow2  {
    left:-50px;
    transform: rotate(-90deg);
    animation: arrow .8s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

section.news .news-wrapper .container .news-pills div.arrow1 {
    right:-50px;
    transform: rotate(90deg);
    animation: arrow1 .8s infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
}

section.news .news-wrapper .container .news-pills .news-item {
    background-color:#fff;
    width: calc(33% - 30px);
}

@media screen and (max-width:900px){
    section.news .news-wrapper .container .news-pills {
        flex-wrap:wrap;
        justify-content:center;
    }
    
    section.news .news-wrapper .container .news-pills .news-item {
       width: calc(100% - 60px);
       margin:10px auto;
    }
}

@media screen and (max-width:1320px){
    section.news .news-wrapper .container .news-pills div.arrow2, div.arrow1 {
        display:none;
    }
}

section.news .news-wrapper .container .news-pills .news-item div {
    width:100%;
    height:260px;
    background-size: cover;
}

section.news .news-wrapper .container .news-pills .news-item p:nth-of-type(1) {
    padding:26px;
    font-size:24px;
    color:gray;
}

section.news .news-wrapper .container .news-pills .news-item p:nth-of-type(2) {
    font-size:16px;
    margin-top:-27px;
    padding:0 26px 30px;
    color:silver;
}

section.numbers{
    margin:72px 0 0;
    padding:72px 0;
    background-color:#F0F0F0 ;
}

section.numbrers .container{
    padding: 0 16px;
}
section.numbers .container .numbers-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; 
    text-align: center;
}

section.numbers .container .numbers-wrapper p:nth-of-type(1){
    font-size: 50pt;
    font-weight: 700;
    color:#39A38F;
}

section.numbers .container .numbers-wrapper p:nth-of-type(2){
    font-size: 18pt;
    font-weight: 400;
    color:grey;
}

section.numbers .container .numbers-wrapper .number{
    width:25%;
    margin:24px 0;
}

@media screen and (max-width:680px){
    section.numbers .container .numbers-wrapper{
        flex-wrap: wrap;
    }

    section.numbers .container .numbers-wrapper .number{
        width:50%;
    }

    section.numbers .container .numbers-wrapper p:nth-of-type(1){
        font-size: 24pt;

    }
    
    section.numbers .container .numbers-wrapper p:nth-of-type(2){
        font-size: 14pt;

    }
}

section.partners{
    background-color:#3ea592 ;
    margin:0 0 72px;
    padding:72px 0;
}
section.partners .container{
    padding:0 16px;
}
section.partners .container .header-wrapper{
    color: #fff;
}
section.partners .container .partners-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
section.partners .container .partners-wrapper .partner{
    width:25%;
    justify-content: center;
    text-align: center;
    
}

section.partners .container .partners-wrapper .partner img{
    width:50%;
    height: auto;
    margin: 16px 0;
    transition: width 0.4s ease-in;
    
}

section.partners .container .partners-wrapper .partner img:hover{
    width:55%;
}

@media screen and (max-width:768px){
    section.partners .container .partners-wrapper .partner{
        width:50%;
    }
    section.partners .container .partners-wrapper .partner img{
        width:70%;
        height: auto;
        
    }

}




section.join .container{
    padding: 0 16px;
}
section.join .container .join-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
section.join .container .join-wrapper .join-item{
    width:33%;
    padding:20px;
    margin:16px 0;
    text-align: center;
    transition: all 0.4s ease-in;
    color:#000;
}
section.join .container .join-wrapper .join-item:hover{
    background-color:#3ea592 ;
    color:#fff;
}
section.join .container .join-wrapper .join-item p:nth-of-type(1){
    font-size: 18pt;
    font-weight: 500;
}
section.join .container .join-wrapper .join-item p:nth-of-type(2){
    font-size: 13pt;
    line-height: 23pt;
    font-weight: 300;
    position: relative;
    margin-top: 20px;
}
section.join .container .join-wrapper .join-item p:nth-of-type(2)::before{
    content: "";
    position: absolute;
    width:30%;
    height:1px;
    background-color: #000;
    opacity:0.2;
    top:-10px;
    right:0;
    left:0;
    margin:0 auto;
}
@media screen and (max-width:992px){
    section.join .container .join-wrapper .join-item{
        width:50%;

    }
    section.join .container .join-wrapper .join-item p:nth-of-type(1){
        font-size: 16pt;

    }
    section.join .container .join-wrapper .join-item p:nth-of-type(2){
        font-size: 12pt;
        line-height: 20pt;
    }

}
@media screen and (max-width:460px){
    section.join .container .join-wrapper .join-item{
        width:100%;

    }


}






section.about{
    background-color:#3ea592 ;
    margin:72px 0;
    padding:72px 0;
}
section.about .container{
    padding:0 16px;
}
section.about .container .about-wrapper{
    text-align: center;
    justify-content: center;
    padding:0 16px;
    
}

section.about .container .about-wrapper p:nth-of-type(1){
    color: #fff;
    font-size: 21pt;
    line-height: 36pt;
    font-weight: 400;
    
}

section.about .container .about-wrapper p:nth-of-type(2){
    color: #fff;
    font-size: 18pt;
    line-height: 36pt;
    font-weight: 300;
    position: relative;
    margin-top: 24px;;
    margin-bottom: 40px;
}
section.about .container .about-wrapper p:nth-of-type(2)::before{
    content: "";
    display: block;
    position: absolute;
    width:10%;
    height: 2px;;
    background-color: #fff;
    margin: 0 auto;
    right:0;
    left:0;
    opacity: 0.5;
    top:-8px;
}
@media screen and (max-width:460px){
    section.about .container .about-wrapper p:nth-of-type(1){
        font-size: 15pt;
        line-height: 24pt; 
    }



}




section.footer {
    background-color:#d8d8d8;
}

section.contact .map-wrapper {
    background: url(../images/map_temp.png);
    width:100%;
    height:50vh;
}

section.contact .contact-wrapper {
    background-color:#f7f7f7;
}

section.contact .contact-wrapper .container .form-wrapper {
    background-color:#fff;
    position:relative;
    top:-100px;
    width:100%;
    padding:50px;
}

section.footer {
    background-color:#d8d8d8;
}

section.footer .container .footer-wrapper {
    display:flex;
    width:100%;
    padding:30px 0;
    justify-content:space-between;
}

section.footer .container .footer-wrapper button {
    border:none;
    background: url("../images/arrow.png");
    width:23px;
    height:16px;
    outline: none;
}

@media screen and (max-width:425px) {
    section.footer .container .footer-wrapper {
        flex-wrap:wrap-reverse;
        text-align:center;
    }
    section.footer .container .footer-wrapper p {
        width:100%;
        padding-top:40px;
    }
}