section.top{
    background-image: url('../images/background_image.jpg');
    background-position: center;
    background-size: cover;
    height: 70vh;
    position: relative;
}
section.top::after{
    content: "";
    display: block;
    background-color:#000;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom:0;
    opacity: 0.5;
    z-index: 1;
}

section.top .container{
    padding: 0 16px;
}
section.top .container .top-wrapper{
    display: flex;
    height:70vh;
    flex-direction: row;
    justify-content: left;
    align-items:flex-end;   
}

section.top .container .top-wrapper .text{
    color: #fff;
    right:0;
    bottom: 0px;
    z-index: 10;
     
}

section.top .container .top-wrapper .text h1{
    font-size: 100pt;
    font-weight: 600;
    padding-bottom: -24px;
}

section.top .container .top-wrapper .text p:nth-of-type(1){
    font-size: 51pt;
    font-weight: 400;
}

section.top .container .top-wrapper .text p:nth-of-type(2){
    font-size: 18pt;
    font-weight: 300;
    position: relative;
    margin-top: 24px;
    line-height:32px;
}

section.top .container .top-wrapper .text a{
    padding-top: 32px;
    position: relative;
    line-height: 128px;
    text-decoration: none;
    color:#fff;
}

section.top .container .top-wrapper .text a::before{
    content: "";
    background-color:#fff;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 4px ;
}

@media screen and (max-width:768px){
    section.top .container .top-wrapper .text h1{
        font-size: 64pt;
    }
    section.top .container .top-wrapper .text p:nth-of-type(1){
        font-size: 24pt;
    }
    section.top .container .top-wrapper .text p:nth-of-type(2){
        font-size: 14pt;
    }
    section.top::after{
        opacity: 0.8;
    }

}
@media screen and (max-width:460px){
    section.top .container .top-wrapper .text{
        justify-content: center;
        text-align: center;
    }
}
section.features{
    margin:72px 0;
}

section.features .container .header-wrapper h4{
    color:gray;
    font-weight: 300;
    font-size: 13pt;
    line-height: 23pt;
}
section.features .container{
    padding: 0 16px;
}
section.features .container .features-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end; 
}

section.features .container .features-wrapper .feature-item{
    width:30%;
    text-align: center;
    margin:24px 0;
}
section.features .container .features-wrapper .feature-item img.icon{
    width:30%;
    height:auto;
}

section.features .container .features-wrapper .feature-item p:nth-of-type(1){
    font-size:18pt;
    font-weight: 400;
    color:#000;
    padding: 16px 0;
}

section.features .container .features-wrapper .feature-item p:nth-of-type(2){
    font-size:13pt;
    font-weight: 300;
    color:grey;
    line-height: 24pt;;

}
@media screen and (max-width:768px){
    section.features .container .features-wrapper{
        flex-direction: column;
    }

    section.features .container .features-wrapper .feature-item{
        width:100%;
    }
}

section.news .news-wrapper {
    background-color:#f3f3f3;
    margin-top:80px;
}

section.news .news-wrapper:before {
    content: "";
    background-color:#f3f3f3;
    width:100px;
    height:100px;
    transform: rotate(45deg);
    display:block;
    position:relative;
    top:-20px;
    margin:0 auto;
}

section.news .news-wrapper .container .news-pills {

}

section.footer {
    background-color:#d8d8d8;
}

section.contact .map-wrapper {
    background: url(../images/map_temp.png);
    width:100%;
    height:50vh;
}

section.contact .contact-wrapper {
    background-color:#f7f7f7;
}

section.contact .contact-wrapper .container .form-wrapper {
    background-color:#fff;
    position:relative;
    top:-100px;
    width:100%;
    padding:50px;
}

section.footer {
    background-color:#d8d8d8;
}

section.footer .container .footer-wrapper {
    display:flex;
    width:100%;
    padding:30px 0;
    justify-content:space-between;
}

section.footer .container .footer-wrapper button {
    border:none;
    background: url("../images/arrow.png");
    width:23px;
    height:16px;
    outline: none;
}

@media screen and (max-width:425px) {
    section.footer .container .footer-wrapper {
        flex-wrap:wrap-reverse;
        text-align:center;
    }
    section.footer .container .footer-wrapper p {
        width:100%;
        padding-top:40px;
    }
}